/* Basic Block Editor CSS */
.editor-styles-wrapper {
	background-color: #ffffff;
	color: #333333;
	font-size: 20px;
	font-family: 'Vollkorn', serif;
	line-height: 1.4;
	word-wrap: break-word;
}

.editor-styles-wrapper > * {
	font-family: 'Vollkorn', serif;
	color: #333333;
}

.editor-styles-wrapper .wp-block.editor-post-title__block .editor-post-title__input {
	font-size: 34px;
	line-height: 1.2;
	font-weight: normal;
}

.wp-block {
	max-width: 1140px;
}

.editor-styles-wrapper .wp-block[data-align="wide"] {
	max-width: 1200px;
}

/* Headings */
.editor-styles-wrapper h1, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4, .editor-styles-wrapper h5, .editor-styles-wrapper h6 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	font-family: 'Fira Sans', sans-serif;
}

.editor-styles-wrapper h1 {
	font-size: 42px;
	line-height: 1.2;
}

.editor-styles-wrapper h2 {
	font-size: 38px;
	line-height: 1.2;
}

.editor-styles-wrapper h3 {
	font-size: 34px;
	line-height: 1.2;
}

.editor-styles-wrapper h4 {
	font-size: 30px;
	line-height: 1.2;
}

.editor-styles-wrapper h5 {
	font-size: 26px;
	line-height: 1.2;
}

.editor-styles-wrapper h6 {
	font-size: 22px;
	line-height: 1.2;
}

.editor-styles-wrapper hr {
	height: 0;
	margin: 30px 0;
}

/* =TEXT ELEMENTS
----------------------------------------------- */
.editor-styles-wrapper p {
	line-height: 1.4;
	margin-bottom: 15px;
	font-family: 'Vollkorn', serif;
	font-size: 20px;
	font-weight: 300;
}

.editor-styles-wrapper strong {
	font-weight: bold;
}

.editor-styles-wrapper cite, .editor-styles-wrapper em, .editor-styles-wrapper i {
	font-style: italic;
}

.editor-styles-wrapper pre {
	background-color: #ffffff;
	margin-bottom: 20px;
	overflow: auto;
	padding: 20px;
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper pre, .editor-styles-wrapper code, .editor-styles-wrapper kbd, .editor-styles-wrapper var, .editor-styles-wrapper samp, .editor-styles-wrapper tt {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

.editor-styles-wrapper abbr, .editor-styles-wrapper acronym, .editor-styles-wrapper dfn {
	border-bottom: 1px dotted #777777;
	cursor: help;
}

.editor-styles-wrapper address {
	display: block;
	font-style: italic;
	margin: 0 0 15px;
}

.editor-styles-wrapper ins {
	background: #f8f8f8;
}

.editor-styles-wrapper table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* =SUPERCRIPT AND SUBSCRIPT
----------------------------------------------- */
.editor-styles-wrapper sup, .editor-styles-wrapper sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

.editor-styles-wrapper sup {
	bottom: 1ex;
}

.editor-styles-wrapper sub {
	top: .5ex;
}

.editor-styles-wrapper dl {
	margin-bottom: 24px;
	font-size: 20px;
}

.editor-styles-wrapper dt {
	font-weight: bold;
	margin-bottom: 5px;
}

.editor-styles-wrapper dd {
	margin-bottom: 24px;
}

.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
	list-style: none;
}

.editor-styles-wrapper ol {
	list-style: decimal;
}

.editor-styles-wrapper li > ul,
.editor-styles-wrapper li > ol {
	margin: 0 0 0 10px;
}

/* =BLOCKQUOTE
----------------------------------------------- */
.editor-styles-wrapper blockquote {
	padding: 30px 30px 20px 45px;
	background-color: #46c9be;
	color: #ffffff;
	border-radius: 5px;
}

.editor-styles-wrapper blockquote p {
	font-size: 20px;
	font-family: 'Vollkorn', serif;
	line-height: 1.4;
	position: relative;
	padding-top: 13px;
	padding-left: 40px;
}

.editor-styles-wrapper blockquote p:before {
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ffffff;
	font-size: 60px;
	position: absolute;
	top: -27px;
	left: -27px;
}

.editor-styles-wrapper blockquote em, .editor-styles-wrapper blockquote i, .editor-styles-wrapper blockquote cite {
	font-style: normal;
}

.editor-styles-wrapper blockquote cite {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	float: right;
}

/* =FORMS
----------------------------------------------- */
.editor-styles-wrapper input, .editor-styles-wrapper textarea {
	-webkit-border-radius: 0px;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="search"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper textarea {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
}

.editor-styles-wrapper input[type="text"],
.editor-styles-wrapper input[type="email"],
.editor-styles-wrapper input[type="password"],
.editor-styles-wrapper textarea {
	padding: 1%;
	border: 1px solid #eaeaea;
	line-height: 20px;
	width: 95%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.editor-styles-wrapper input[type="text"]:focus,
.editor-styles-wrapper input[type="email"]:focus,
.editor-styles-wrapper input[type="search"]:focus,
.editor-styles-wrapper input[type="password"]:focus,
.editor-styles-wrapper textarea:focus {
	border: 1px solid #eaeaea;
}

.editor-styles-wrapper input[type="reset"],
.editor-styles-wrapper input[type="button"],
.editor-styles-wrapper input[type="submit"],
.editor-styles-wrapper .wp-block button:not(.components-button) {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #46c9be;
	border: 0px;
	transition: background-color 0.3s linear 0s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
}

.editor-styles-wrapper input[type="reset"]:hover,
.editor-styles-wrapper input[type="button"]:hover,
.editor-styles-wrapper input[type="submit"]:hover,
.editor-styles-wrapper .wp-block button:not(.components-button) {
	background-color: #33363b;
}

.editor-styles-wrapper input[type="reset"]:active,
.editor-styles-wrapper input[type="button"]:active,
.editor-styles-wrapper input[type="submit"]:active,
.editor-styles-wrapper .wp-block button:not(.components-button) {
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

/* =LINKS
----------------------------------------------- */
.editor-styles-wrapper a {
	color: #46c9be;
	text-decoration: none;
}

.editor-styles-wrapper a:focus, .editor-styles-wrapper a:active, .editor-styles-wrapper a:hover {
	text-decoration: none;
}

/* =ALIGNMENT
----------------------------------------------- */
.editor-styles-wrapper .alignleft {
	display: inline;
	float: left;
	margin-right: 30px;
}

.editor-styles-wrapper .alignright {
	display: inline;
	float: right;
	margin-left: 30px;
}

.editor-styles-wrapper .aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Make sure embeds and iframes fit their containers */
.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object {
	max-width: 100%;
}

/* =MEDIA
----------------------------------------------- */
.editor-styles-wrapper .wp-caption {
	border: 1px solid #cccccc;
	margin-bottom: 1.5rem;
	max-width: 100%;
}

.editor-styles-wrapper #colophon .wp-caption {
	border: 1px solid #444444;
}

.editor-styles-wrapper .wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}

.editor-styles-wrapper .wp-caption-text {
	text-align: center;
}

.editor-styles-wrapper .wp-caption .wp-caption-text {
	margin: 0.8075rem 0;
}

.editor-styles-wrapper .gallery-caption {
}

/* =WORDPRESS GALLERY SUPPORT
----------------------------------------------- */
.editor-styles-wrapper .gallery {
	margin: 0 auto 15px;
}

.editor-styles-wrapper .gallery-item {
	display: inline-block;
	padding: 15px 2%;
	text-align: center;
	vertical-align: top;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.editor-styles-wrapper .gallery-columns-3 .gallery-item,
.editor-styles-wrapper .gallery-columns-4 .gallery-item,
.editor-styles-wrapper .gallery-columns-5 .gallery-item {
	padding: 15px 1%;
}

.editor-styles-wrapper .gallery-columns-6 .gallery-item,
.editor-styles-wrapper .gallery-columns-7 .gallery-item,
.editor-styles-wrapper .gallery-columns-8 .gallery-item,
.editor-styles-wrapper .gallery-columns-9 .gallery-item {
	padding: 10px 0.5%;
}

.editor-styles-wrapper .gallery-columns-2 .gallery-item {
	width: 50%;
}

.editor-styles-wrapper .gallery-columns-3 .gallery-item {
	width: 33.33%;
}

.editor-styles-wrapper .gallery-columns-4 .gallery-item {
	width: 25%;
}

.editor-styles-wrapper .gallery-columns-5 .gallery-item {
	width: 20%;
}

.editor-styles-wrapper .gallery-columns-6 .gallery-item {
	width: 16.66%;
}

.editor-styles-wrapper .gallery-columns-7 .gallery-item {
	width: 14.28%;
}

.editor-styles-wrapper .gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.editor-styles-wrapper .gallery-columns-9 .gallery-item {
	width: 11.11%;
}

.editor-styles-wrapper .gallery-icon img {
	margin: 0 auto;
}

.editor-styles-wrapper .gallery .gallery-caption {
	font-size: 14px;
	line-height: 1.2;
	padding-top: 5px;
}

.editor-styles-wrapper ul.wp-block-gallery.columns-3 {
	padding: 0;
}

/* Responsive Structure */
@media only screen and (max-width: 600px) {
	.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
		width: 25%;
    }
}

@media only screen and (max-width: 420px) {
	.editor-styles-wrapper .wp-block .gallery-columns-4 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-5 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-6 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-7 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-8 .gallery-item,
	.editor-styles-wrapper .wp-block .gallery-columns-9 .gallery-item {
		width: 33.33%;
    }
}
